<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">

      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box mb-3 bg-white-50 " data-work="Holy Quran">
            <img class="img-fluid" [src]="imgs1" alt="">
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box mb-3 bg-white-50 " data-work="Night prayer">
            <img class="img-fluid" [src]="imgs2" alt="">
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box mb-3 bg-white-50 " data-work="remembrances">
            <img class="img-fluid" [src]="imgs3" alt="">
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box mb-3 bg-white-50 " data-work="Supplications">
            <img class="img-fluid" [src]="imgs4" alt="">
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box mb-3 bg-white-50 " data-work="Sunnah">
            <img class="img-fluid" [src]="imgs5" alt="">
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box mb-3 bg-white-50 " data-work="Prayer for the deceased">
            <img class="img-fluid" [src]="imgs6" alt="">
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box mb-3 bg-white-50 " data-work="Prayer of praise">
            <img class="img-fluid" [src]="imgs7" alt="">
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box mb-3 bg-white-50 " data-work="Arafat day">
            <img class="img-fluid" [src]="imgs8" alt="">
          </div>
        </div>
      </div>
    </div>
