<div class="container py-3 my-5">
    <div class="text-center text-white py-3">
        <h1>Employee Details</h1>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <h5 class="card-header">{{ oneEmployee?.id }}</h5>
                <div class="card-body">
                    <div *ngIf="errMsg" class="col-md-6 offset-md-3 my-3">
                        <div class="text-center alert alert-danger">
                            {{ errMsg }}
                        </div>
                    </div>
                    <h5 class="card-title">{{ oneEmployee?.name }}</h5>
                    <p class="card-text">
                        {{ oneEmployee?.position }}
                    </p>
                    <p class="card-text">
                        {{ oneEmployee?.age }}
                    </p>
                    <p class="card-text">
                        {{ oneEmployee?.startDate | date }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>