<nav class="navbar navbar-expand-lg sticky-top bg-primary fw-bold" data-bs-theme="light">
  <div class="container">

    <a class="navbar-brand" href="#">
      <img [src]="icon" alt="Angular">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="main">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">

        <li class="nav-item   ">
          <a class="nav-link p-2 p-lg-3 active " aria-current="page " href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3 " href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3" href="#">protfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3" href="#">Apout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3" href="#">Contact</a>
        </li>

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success text-bg-dark" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container text-center py-5 my-5">
  <img [src]="bannerImage" alt="Photo banner">
</div>
