<div class="container mt-5">
  <button class="btn btn-primary pe-5 ps-5" (click)="renderValues()">Data</button>
  <div class="text-center">

    <table *ngIf="showTable" class="table table-bordered table-hover table-striped rounded shadow">

      <tr>
        <th scope="col">John Smith</th>
        <th class="p-4 bg-info" scope="col">Sarah Johnson</th>
        <th scope="col">Michael Brown</th>
        <th scope="col" class="p-4 bg-info">Emily Davis</th>
        <th scope="col">FRI</th>
        <th scope="col" class="p-4 bg-info">Daniel Wilson</th>
        <th scope="col">jonde wlid</th>
      </tr>

          <tr>
            <td class="p-4 bg-info">Software Engineer</td>
            <td class="p-4 bg-info">Development</td>
            <td class="p-4 bg-info">Project Manager</td>
            <td class="p-4 bg-info">Management</td>
            <td class="p-4 bg-info">UI/UX Designer</td>
            <td class="p-4 bg-info">Design</td>
            <td class="p-4 bg-info">HR Specialist</td>
          </tr>
          <tr>

          </tr>
    </table>



  </div>
</div>




